{% extends 'main.html' %}

{% block content %}
<style>
  .scrollable-container {
    overflow-y: scroll;
    height: 82vh;
    scrollbar-width: none;
    /* For Firefox */
  }

  .scrollable-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }
</style>


<div class="row newsfeed-right-side-content mt-3">
  {%include 'base/topics_compo.html'%}

  
  <div class="col-md-6 second-section" id="page-content-wrapper">
    <div class="bg-white py-3 px-4 " style="width: 1100px; height: 87vh;">
      <div class="card-head d-flex justify-content-between">
        <h5 class="mb-4">Latest Active Friends</h5>
        <form action="{%url 'all-friend'%}" method="GET">
          
              
              <div class="input-group messenger-input w-100 align-items-center pr-2">
                  <input type="text" class="form-control search-input" name="q" placeholder="Search New Friends"
                      aria-label="Type a message..." aria-describedby="button-addon2">

                          <div class="input-group-append"  >
                              <button class="btn-btn search-button" type="submit"><i class="bx bx-search"></i></button>
                          </div>

                  </div>

      </form>
      </div>



      <div class="scrollable-container">
        <div class="row">

          {% for u in users %}
          <div class="col-md-4 col-sm-6">
            <div class="card group-card shadow-sm">
              <img src="{{u.avatar.url}}" class="card-img-top group-card-image" alt="Group image" height="200vh" width="50px">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'profile' u.id%}">{{ u.name }}</a></h5>
                <p class="card-text">10k Members 20+ post a week</p>
                {% if u in sent_friend_requests %}
                <div class="btn-group w-100" role="group">
                  <a href="{% url 'reject' u.id %}" class="btn btn-quick-link join-group-btn border w-100">Cancel</a>
                  <div class="btn-group" role="group">
                    <button id="friendsMore" type="button"
                      class="btn btn-quick-link join-group-btn border btn-group-drop" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="friendsMore">
                      <a class="dropdown-item" href="#">Dropdown link</a>
                      <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                  </div>
                </div>
                {% elif u in received_friend_requests %}
                <div class="btn-group w-100" role="group">
                  <a href="{% url 'profile' u.id %}" class="btn btn-quick-link join-group-btn border w-100">See
                    Profile</a>
                  <div class="btn-group" role="group">
                    <button id="friendsMore" type="button"
                      class="btn btn-quick-link join-group-btn border btn-group-drop" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="friendsMore">
                      <a class="dropdown-item" href="#">Dropdown link</a>
                      <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                  </div>
                </div>
                {% elif u in accepted_friends %}
                <div class="btn-group w-100" role="group">
                  <a href="{% url 'profile' u.id %}" class="btn btn-quick-link join-group-btn border w-100">See
                    Profile</a>
                  <div class="btn-group" role="group">
                    <button id="friendsMore" type="button"
                      class="btn btn-quick-link join-group-btn border btn-group-drop" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="friendsMore">
                      <a class="dropdown-item" href="#">Dropdown link</a>
                      <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="btn-group w-100" role="group">
                  <a href="{% url 'addFriend' u.id %}" class="btn btn-quick-link join-group-btn border w-100">Add
                    Friend</a>
                  <div class="btn-group" role="group">
                    <button id="friendsMore" type="button"
                      class="btn btn-quick-link join-group-btn border btn-group-drop" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class='bx bx-dots-horizontal-rounded'></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="friendsMore">
                      <a class="dropdown-item" href="#">Dropdown link</a>
                      <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock content %}