<!-- chat/open_chat.html -->
{% extends 'main.html' %}
{%load static%}
{% block content %}
<div class="col-md-12 second-section" id="page-content-wrapper">
    <div class="container-fluid newsfeed d-flex col-md-12" id="wrapper">
      <div class="row newsfeed-size col-md-12">
        <div class="col-md-12 message-right-side">
          <div class="row message-right-side-content col-md-12">
            <div class="col-md-12">
              <div id="message-frame">
                <div class="message-sidepanel">
                  <div class="message-profile">
                    <div class="wrap">
                                  <img src="{{request.user.avatar.url}}" class="online conv-img" alt="Conversation user"/>
                                  <p>{{request.user.name}}</p>
                              </div>
                              <hr>
                          </div>
                          {% include 'base/chat_list.html' %}
                      </div>

                      {% if request.path == '/chat/' %}
                      <div class="content" >
                          <div class="row" style="width:1100px"> 
                              

                              <div class="col-md-12" style="height: 600px;">
                                  <div class="messages">
                                      Not Found
                                  </div>
                              </div>

                              
                              </div>
                          </div>
                      </div>
                      {% else %}
                      <div class="content col-md-12">
                          <div class="row col-md-12">
                              <div class="col-md-12 messenger-top-section">
                                  <div class="contact-profile d-flex align-items-center justify-content-between">
                                      <div class="messenger-top-luser df-aic">
                                          <img src="{{friend.avatar.url}}" class="messenger-user" alt="Conversation user image" />
                                          <a href="{% url 'profile' friend.id %}" class="message-profile-name">{{friend.name}}</a>
                                      </div>
                                      <div class="social-media messenger-top-ricon df-aic">
                                          <span class="dropdown">
                                              <a href="#" role="button" id="message-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class='bx bx-dots-vertical-rounded'></i>
                                              </a>
                                              <div class="dropdown-menu dropdown-menu-right fs-9" aria-labelledby="message-options">
                                                  <a href="#" class="dropdown-item">Mute</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a href="#" class="dropdown-item">Delete</a>
                                                  <div class="dropdown-divider"></div>
                                                  <a href="#" class="dropdown-item">Mark as Unread</a>
                                                  <a href="#" class="dropdown-item">Something's wrong</a>
                                                  <a href="#" class="dropdown-item">Ignore Messages</a>
                                                  <a href="#" class="dropdown-item">Block Messages</a>
                                              </div>
                                          </span>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-md-12" style="height: 600px;">
                                  <div class="messages">
                                      <ul id="chat-container" class="messages-content">
                                          {% for message in messages %}
                                          {% if request.user == message.sender %}
                                          <li class="message-reply">
                                              <p>{{message.content}}</p>
                                          </li>
                                          {% else %}
                                          <li class="message-receive">
                                              <img src="{{message.sender.avatar.url}}" alt="Conversation user image" />
                                              <p>{{message.content}}</p>
                                          </li>
                                          {% endif %}
                                          {% endfor %}
                                      </ul>
                                  </div>
                              </div>

                              <div class="col-md-12">
                                  <div class="message-input">
                                      <div class="wrap">
                                          <form id="chat-form" class="d-inline form-inline" action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                              <div class="d-flex align-items-center justify-content-between messenger-icons col-md-12">
                                                  <div class="input-group messenger-input col-sm-12">
                                                      <input type="text" id="chat-input" class="form-control search-input" placeholder="Type a message..." aria-label="Type a message..." aria-describedby="button-addon2">
                                                      <input type="file" id="image-upload" class="d-none">
                                                      <div class="input-group-append">
                                                          <button type="submit" class="btn search-button" id="send-message">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                                                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                                                              </svg>
                                                          </button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </form>
                                          <div id="image-preview-container"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{{ chat_room.id|json_script:"json-roomid" }}
{{ request.user.username|json_script:"json_username"}}

<script>
  const chat_id = JSON.parse(document.getElementById('json-roomid').textContent);
  const userName = JSON.parse(document.getElementById('json_username').textContent);

  console.log(chat_id);
  const ChatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/open_chat/'
    + chat_id
    + '/'
  );

  ChatSocket.onmessage = function (e) {
    console.log('onmessage');
    const data = JSON.parse(e.data);

    if (data.message || data.image) {
      console.log('Message received');
      const messageContainer = document.getElementById('chat-container');
      const newMessage = document.createElement('li');
      newMessage.className = data.username === userName ? 'message-reply' : 'message-receive';
      newMessage.innerHTML = `
          ${data.username !== userName ? `<img src="${data.avatar_url}" alt="Conversation user image" />` : ''}
          <p>${data.message}</p>
          ${data.image ? `<img src="${data.image}" alt="Image" />` : ''}
      `;
      messageContainer.appendChild(newMessage);
      messageContainer.scrollTop = messageContainer.scrollHeight;
    } else {
      console.log('No message or image');
    }
  };

  ChatSocket.onclose = function (event) {
    console.log('WebSocket connection closed:', event);
  };

  document.querySelector('#send-message').onclick = function (event) {
    event.preventDefault();

    const messageInputDom = document.querySelector('#chat-input');
    const imageInputDom = document.querySelector('#image-upload');
    const message = messageInputDom.value;

    function sendMessage(imageBase64 = null) {
      ChatSocket.send(JSON.stringify({
        'image': imageBase64,
        'message': message,
        'username': userName,
        'chat_id': chat_id,
      }));

      messageInputDom.value = '';
      imageInputDom.value = '';
      document.getElementById('image-preview-container').innerHTML = '';
    }

    if (imageInputDom.files.length > 0) {
      const file = imageInputDom.files[0];
      const reader = new FileReader();

      reader.onloadend = function () {
        const base64Image = reader.result;
        sendMessage(base64Image);
      };

      reader.readAsDataURL(file);
    } else {
      sendMessage();
    }
  };

  document.getElementById('image-upload').addEventListener('change', function (event) {
    const imageContainer = document.getElementById('image-preview-container');
    imageContainer.innerHTML = '';

    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const img = new Image();
        img.src = e.target.result;
        img.style.maxWidth = '100px';
        img.style.maxHeight = '100px';
        imageContainer.appendChild(img);
      };
      reader.readAsDataURL(file);
    }
  });
</script>
{% endblock content %}
