{% load static %}

<style>
  .bi-heart {
    fill: black;
    transition: fill 0.3s ease;
  }

  .bi-heart.liked {
    fill: red;
  }

  .post img.img-fluid {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
  }

  #mediaPreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #333;
    border: 2px solid #ddd;
    position: relative;
    cursor: pointer;
  }

  #mediaPreviewContainer img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    object-fit: cover;
  }

  #mediaPreviewContainer .icon-placeholder {
    color: #fff;
    text-align: center;
    font-size: 16px;
  }

  #mediaPreviewContainer:hover {
    border-color: #888;
  }

  #mediaPreviewContainer .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  #mediaPreviewContainer img.displayed {
    display: block;
  }

  #mediaPreviewContainer .close-btn.displayed {
    display: block;
  }

  .scrollable-container {
    overflow-y: scroll;
    height: 50vh;
    scrollbar-width: none;
  }

  .scrollable-container::-webkit-scrollbar {
    display: none;
  }




  .post-actions .comment:hover .svg-span {
    color: #1da1f2;
    background-color: #dfeffa;
    box-shadow: 0 0 0 3px #dfeffa;
    transition-duration: .2s;
    cursor: pointer;
  }

  .post-actions .save:hover .svg-span {
    color: #17bf63;
    background-color: #def2eb;
    box-shadow: 0 0 0 3px #def2eb;
    transition-duration: .2s;
    cursor: pointer;
  }

  .comment-div {
    margin: 10px 0px;
    padding-left: 10px;
    max-height: 75vh;
    overflow: hidden;
  }

  .comment-div #spinner {
    transform: translate(-50%, 0%);
  }

  .comment-div>div {
    width: 100%;
  }

  .head-comment-input {
    width: 100%;
    display: flex;
  }

  @keyframes godown {
    0% {
      margin-top: -10px;
      opacity: .7;
    }

    100% {
      margin-top: 10px;
      opacity: 1;
    }
  }

  .eachrow {
    display: flex;
    margin-top: 10px;
    width: 90%;
  }

  .godown {
    animation-name: godown;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }

  .comment-div .small-profilepic {
    width: 2.7vw;
    height: 2.7vw;
  }

  .comment-input-div {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-color: #f0f2f5;
    overflow: hidden;
    padding: 0px 10px;
    transition-duration: .4s;
  }

  .post:hover .comment-input-div {
    /*background-color: white;*/
    transition-duration: .4s;
  }

  .comment-input-div form {
    height: 100%;
  }

  .comment-input-div input {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.1em;
  }

  .comment-text-div {
    padding: 8px 13px;
    background-color: #f0f2f5;
    border-radius: 17px;
    cursor: auto;
    display: inline-block;
  }

  .post:hover .comment-text-div {
    /*background-color: white;*/
    transition-duration: .4s;
  }

  .comment-text-div a {
    font-size: .93em;
    font-weight: 630;
  }

  .comment-text-div a:hover {
    text-decoration: underline;
  }

  #spinner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  /* General Modal Styles */
#updatePostModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 20px;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.close {
    font-size: 24px;
    color: #888;
    float: right;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

#mediaPreviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
    border: 2px dashed #ddd;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.icon-placeholder {
    color: #888;
    font-size: 20px;
    text-align: center;
}

#imagePreview {
    max-width: 100%;
    height: auto;
    display: none;
    border-radius: 8px;
    margin-top: 10px;
}

#videoPreview {
    max-width: 100%;
    height: auto;
    display: none;
    border-radius: 8px;
    margin-top: 10px;
}

#mediaPreviewContainer:hover {
    border-color: #007bff;
}

#removeMedia {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff5e5e;
    cursor: pointer;
    display: none;
}

#removeMedia:hover {
    color: #ff0000;
}

#mediaPreviewContainer img.displayed,
#mediaPreviewContainer video.displayed,
#mediaPreviewContainer .close-btn.displayed {
    display: block;
}

#savePostChanges {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#savePostChanges:hover {
    background-color: #0056b3;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    #updatePostModal {
        width: 90%;
    }

    .modal-content {
        padding: 15px;
    }

    #mediaPreviewContainer {
        padding: 15px;
    }

    #imagePreview,
    #videoPreview {
        max-width: 90%;
    }
}



</style>

<div class="posts-section mb-5" style="margin-left: 15px;">
  {% for content in combined_content %}
  <div class="post border-bottom p-3 bg-white w-shadow " data-post_id="{{content.id}}">
    <div class="media text-muted pt-3">
      <img
        src="{% if content.title %}{{ content.author.avatar.url }}{% elif content.post %}{{ content.user.avatar.url }}{% else %}{{ content.host.avatar.url }}{% endif %}"
        alt="Online user" class="mr-3 post-user-image" width="55px" height="55px">
      <div class="media-body pb-3 mb-0 small lh-125">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a href="{% if content.title %}{% url 'profile' content.author.id %}{% elif content.post %}{% url 'profile' content.user.id %}{% else %}{% url 'profile' content.host.id %}{% endif %}"
            class="text-gray-dark post-user-name">
            {% if content.title %}
            {{ content.author.name }}

            {% elif content.post %}
            {{ content.user.name }} (shared {{ content.post.author.name }}'s post)
            {% else %}
            {{ content.host.name }}
            {% endif %}
          </a>

          {% if content.title and content.author.id == request.user.id %}
          <div class="dropdown">
            <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" id="postOptions"
              aria-haspopup="true" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
              <a href="#" class="dropdown-item update-post-button" data-id="{{ content.id }}"
                aria-describedby="reportPost">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                    <span class="fs-9">Update Post</span>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item delete-post-button" data-id="{{ content.id }}"
                onclick="confirmDelete(event, {{ content.id }})">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                    <span class="fs-9">Delete Post</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% elif content.post and content.user.id == request.user.id %}
          <div class="dropdown">
            <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" id="postOptions"
              aria-haspopup="true" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
              <a href="#" class="dropdown-item delete-share-button" data-id="{{ content.id }}">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                    <span class="fs-9">Delete Share</span>
                  </div>
                </div>
              </a>

            </div>
          </div>
          {% elif content.host and content.host.id == request.user.id %}
          <div class="dropdown">
            <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" id="postOptions"
              aria-haspopup="true" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
              <a href="{% url 'update-room' content.id %}" class="dropdown-item" aria-describedby="reportPost">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                    <span class="fs-9">Update Room</span>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item delete-room-button" data-id="{{ content.id }}"
                onclick="confirmDeleteRoom(event, {{ content.id }})">
                <div class="row">
                  <div class="col-md-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                    </svg>
                    <span class="fs-9">Delete Room</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
        <span class="d-block">{{ content.created_at|timesince }}
          {% if content.is_private %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="001e1d" class="bi bi-person-fill-lock"
            viewBox="0 0 16 16">
            <path
              d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a2 2 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693Q8.844 9.002 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1" />
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
            <path
              d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.48.48 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.6.6 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.45.45 0 0 0 .138-.326M5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.7.7 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52z" />
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.88.88 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a7 7 0 0 1 3.425 7.692 1 1 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a1 1 0 0 0 .283.126 7 7 0 0 1-9.49-3.409Z" />
          </svg>
          {% endif %}
        </span>
      </div>
    </div>

    {% if content.title %}
    <div class="mt-0 col-md-12" data-post_id="{{content.id}}">
      <p id="short-content-{{ content.id }}">
        {{ content.content|truncatewords:40|safe|linebreaksbr }}...
        <a href="javascript:void(0);" onclick="showFullContent('{{ content.id }}')">See more</a>
      </p>

      <!-- Full content, initially hidden -->
      <p id="full-content-{{ content.id }}" style="display: none;">
        {{ content.content|safe }}
        <a href="javascript:void(0);" onclick="showShortContent('{{ content.id }}')">See less</a>
      </p>
      {% if content.image %}
      <img src="{{ content.image.url }}" alt="" class="img-fluid">
      {% endif %}
      {% if content.video %}
      <video controls class="img-fluid">
        <source src="{{ content.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {% endif %}

    </div>

    {% elif content.post %}
    <div class="mt-0 col-md-9">
      <div class="shared-post" data-post_id="{{content.id}}">
        <p id="short-content-{{ content.id }}">
          {{ content.content|truncatewords:40|safe|linebreaksbr }}...
          <a href="javascript:void(0);" onclick="showFullContent('{{ content.id }}')">See more</a>
        </p>

        <!-- Full content, initially hidden -->
        <p id="full-content-{{ content.id }}" style="display: none;">
          {{ content.content|safe }}
          <a href="javascript:void(0);" onclick="showShortContent('{{ content.id }}')">See less</a>
        </p>


        <div class="post border p-3">
          <div class="media text-muted pt-3">
            <img src="{{ content.post.author.avatar.url }}" alt="Post user" class="mr-3 post-user-image" width="55px"
              height="40px">
            <div class="media-body pb-3 mb-0 small lh-125">
              <div class="d-flex justify-content-between align-items-center w-100">
                <a href="{% url 'profile' content.post.author.id %}" class="text-gray-dark post-user-name">
                  {{ content.post.author.name }}
                </a>
                {% if content.post.author.id == request.user.id %}
                <div class="dropdown">
                  <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" id="postOptions"
                    aria-haspopup="true" aria-expanded="false">
                    <i class='bx bx-dots-horizontal-rounded'></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
                    <a href="#" class="dropdown-item update-post-button" data-id="{{ content.post.id }}"
                      aria-describedby="reportPost">
                      <div class="row">
                        <div class="col-md-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                          </svg>
                          <span class="fs-9">Update Post</span>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="dropdown-item delete-post-button" data-id="{{ content.post.id }}"
                      onclick="confirmDelete(event, {{ content.post.id }})">
                      <div class="row">
                        <div class="col-md-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                          </svg>
                          <span class="fs-9">Delete Post</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>


                {% endif %}
              </div>
              <span class="d-block">{{ content.post.created_at|timesince }}</span>
            </div>
          </div>
          <div class="mt-2 col-md-12">
            <p id="short-content-share-{{ content.post.id }}">
              {{ content.post.content|truncatewords:40|safe|linebreaksbr }}...
              <a href="javascript:void(0);" onclick="showFullContent('{{ content.post.id }}')">See more</a>
            </p>

            <!-- Full content, initially hidden -->
            <p id="full-content-share-{{ content.post.id }}" style="display: none;">
              {{ content.post.content|safe }}
              <a href="javascript:void(0);" onclick="showShortContent('{{ content.post.id }}')">See less</a>
            </p>
            {% if content.post.image %}
            <img src="{{ content.post.image.url }}" alt="Post image" class="img-fluid">
            {% endif %}
            {% if content.post.video %}
            <video controls class="img-fluid">
              <source src="{{ content.post.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            {% endif %}
          </div>
          <div class="mb-3">
            <div class="argon-reaction">
              <span class="like-btn">
                <a href="#" class="post-card-buttons like-button" data-id="{{ content.post.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart {% if request.user in content.post.likes.all %}liked{% endif %}"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                  <span class="like-count">{{ content.post.like_count }}</span> Likes
                </a>
              </span>
            </div>


            <a onclick="show_comment(this)" data-post_id="{{content.id}}">{{ content.post.comments.count }} <i
                class='bx bx-message-rounded mr-2'></i></a>



            <div class="dropdown dropup share-dropup">
              <a href="#" class="post-card-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='bx bx-share-alt mr-2'></i> Share
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
                <a href="#" class="dropdown-item share-post-button" data-id="{{ content.id }}">
                  <i class="bx bx-share-alt"></i> Share Post
                </a>
              </div>


            </div>


          </div>
          <!-- COMMENT SECTION -->
          <div class="border-top pt-3 hide-comments" id="comments-section-{{ content.post.id }}" style="display: none;">
            <div class="row bootstrap snippets">
              <div class="col-md-12">
                <div class="comment-wrapper">
                  <div class="panel panel-info">
                    <div class="panel-body">
                      <ul class="media-list comments-list" id="comment-list-{{ content.post.id }}">
                        <li class="media comment-form">
                          <a href="#" class="pull-left">
                            <img src="{{request.user.avatar.url}}" alt="" class="img-circle">
                          </a>
                          <div class="media-body">
                            <form id="comment-form-{{ content.post.id }}" class="comment-form"
                              action="{% url 'add-comment' content.post.id %}" method="POST">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="input-group">
                                    <input type="text" name="content" class="form-control comment-input"
                                      placeholder="Write a comment...">
                                    <div class="input-group-btn">
                                      <button type="submit" class="btn comment-form-btn"><i
                                          class='bx bxs-smiley-happy'></i></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </li>
                        <div class="scrollable-container">
                          {% for comment in content.post.comments.all %}
                          <li class="media">
                            <a href="#" class="pull-left">
                              <img src="{{ comment.user.avatar.url }}" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                              <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark"><a href="#" class="fs-8">{{
                                    comment.user.name}}</a></strong>
                              </div>
                              <span class="d-block comment-created-time">{{ comment.created_at|timesince }} ago</span>
                              <p class="fs-8 pt-2">{{ comment.content }}</p>
                            </div>
                          </li>
                          {% endfor %}
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END COMMENT SECTION -->
        </div>
      </div>
    </div>
    {% else %}

    <div class="mt-0">
      <a href="{% url 'room' content.id %}">
        <h6>{{ content.name }}</h6>
      </a>
    </div>
    {% endif %}

    <div class="mb-3">
      <div class="argon-reaction">
        <span class="like-btn">
          {% if content.title or content.post %}
          <a href="#" class="post-card-buttons like-button" data-id="{{ content.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-heart {% if request.user in content.likes.all %}liked{% endif %}" viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
            <span class="like-count">{{ content.like_count }}</span> Likes
          </a>
          {% else %}
          <a href="{% url 'room' content.id %}" class="post-card-buttons" id="reactions">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
              <title>user-group</title>
              <path
                d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z">
              </path>
              <path
                d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z">
              </path>
              <path
                d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.03-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z">
              </path>
              <path
                d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z">
              </path>
            </svg>
            {{ content.participants.all.count }} Joined</a>
          {% endif %}
        </span>
      </div>

      {% if content.title %}

      <a onclick="show_comment(this)" data-post_id="{{content.id}}">{{ content.post.comments.count }} <i
          class='bx bx-message-rounded mr-2'></i></a>





      <div class="dropdown dropup share-dropup">
        <a href="#" class="post-card-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='bx bx-share-alt mr-2'></i> Share
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
          <a href="#" class="dropdown-item share-post-button" data-id="{{ content.id }}">
            <i class="bx bx-share-alt"></i> Share Post
          </a>
        </div>
      </div>
      {% else %}
     <a href="{% url 'room' content.id %}"><i class='bx bx-message-rounded mr-2'></i></a>
      {% endif %}
    </div>

    <!-- COMMENT SECTION -->
    <div class="comment-div" style="display: none;" data-post_id="{{content.id}}">
      <div class="spinner-div">
        <img src="{% static 'images/spinner.gif' %}" id="spinner" height="65px">
      </div>
      {% if user.is_authenticated %}
      <div class="comment-div-data" style="display: none;">
        <div class="head-comment-input">
          <div>
            <a href="">
              <div class="small-profilepic"><img src="{{request.user.avatar.url}}" alt="" style="width: 2.1vw;
                height: 2.1vw;
                border-radius: 9999px;
                overflow: hidden;
                margin-right: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-sizing: content-box;
                gap: 10px;"></div>
            </a>
          </div>
          <div style="flex: 1;">
            <div class="comment-input-div">
              <form class="comment-form" onsubmit="return write_comment(this)">
                <input type="text" name="comment" class="comment-input" placeholder="Write a comment...">
              </form>
            </div>
          </div>
        </div>
        <div class="comment-comments"></div>
      </div>
      {% endif %}
    </div>
    <!-- END COMMENT SECTION -->

  </div>
  {% endfor %}
</div>



<!-- Update Post Modal -->
<div id="updatePostModal" class="modal container-fluid col-md-9" style="height: 100%;">
  <div class="modal-content" style=" margin: 10px 10px;">
    <span class="close">&times;</span>

    <input type="hidden" id="updatePostId" value="">

    <div class="form-group">
      <label for="updatePostTitle">Title</label>
      <input type="text" id="updatePostTitle" placeholder="Enter the title" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="updatePostContent">Content</label>
      <textarea id="updatePostContent" rows="4" placeholder="Write your post content..." class="form-control"
        required></textarea>
    </div>

    <div class="form-group">
      <div id="mediaPreviewContainer">
        <span class="icon-placeholder">
          <i class="bi bi-plus"></i><br> Media
        </span>
        <img id="imagePreview" src="#" alt="Image Preview" style="display: none; width: 50%; height: 50%;">
        <video id="videoPreview" controls style="display: none;">
          <source id="videoSource" src="#">
          Your browser does not support the video tag.
        </video>
        <span class="close-btn" id="removeMedia">&times;</span>
        <input type="file" id="updatePostMedia" class="form-control-file" accept="image/*,video/*"
          style="display:none;">
      </div>
    </div>

    <button type="button" class="btn btn-primary" id="savePostChanges">Update Post</button>
  </div>
</div>





<!-- Modal share/ -->





<!-- Modal xác nhận chia sẻ -->
<div id="sharePostModal" class="modal" style="height: 60%;">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 10px;">
      <span class="close">&times;</span>
      <h5>Do you want to share this post?</h5>
      <p>This will share the post to your followers.</p>

      <div class="form-group">
        <label for="updatePostContent">Content</label>
        <textarea id="shareContent" rows="4" placeholder="Write your post content..." class="form-control"
          required></textarea>
      </div>

      <input type="hidden" id="sharePostId" value="">

      <button type="button" class="btn btn-primary" id="confirmShare">Confirm Share</button>
    </div>
  </div>
</div>
<!-- end -->




<!-- Show/Hide Comments Script -->
<script>
  function show_comment(element) {

    let post_div = element.parentElement.parentElement;
    let post_id = post_div.dataset.post_id;

    console.log(post_div);
    console.log(post_id);
    let comment_div = post_div.querySelector('.comment-div');
    let comment_div_data = comment_div.querySelector('.comment-div-data');
    let comment_comments = comment_div_data.querySelector('.comment-comments');//
    if (comment_div.style.display === 'block') {
      comment_div.querySelector('input').focus()
      return;
    }
    comment_div.querySelector('#spinner').style.display = 'block';
    comment_div.style.display = 'block';
    fetch('/n/post/' + parseInt(post_id) + '/comments')
      .then(response => response.json())
      .then(comments => {
        comments.forEach(comment => {
          display_comment(comment, comment_comments);
        });
      })
      .then(() => {
        setTimeout(() => {
          comment_div.querySelector('.spinner-div').style.display = 'none';
          comment_div.querySelector('.comment-div-data').style.display = 'block';
          comment_div.style.overflow = 'auto';
        }, 500);
      });
  }

  function write_comment(element) {
    let post_id = element.parentElement.parentElement.parentElement.parentElement.parentElement.dataset.post_id;
    let comment_text = element.querySelector('.comment-input').value;
    let comment_comments = element.parentElement.parentElement.parentElement.parentElement.querySelector('.comment-comments');//
    // let comment_count = comment_comments.parentElement.parentElement.parentElement.querySelector('.cmt-count');
    console.log(comment_comments);
    console.log(post_id);

    if (comment_text.trim().length <= 0) {
      return false;
    }
    fetch('/n/post/' + parseInt(post_id) + '/write_comment', {
      method: 'POST',
      body: JSON.stringify({
        comment_text: comment_text
      })
    })
      .then(response => response.json())
      .then(comment => {
        console.log(comment);
        element.querySelector('input').value = '';
        display_comment(comment[0], comment_comments, true);
        console.log(comment[0])
        console.log(comment_comments)
        return false;
      });
    return false;
  }

  function display_comment(comment, container, new_comment = false) {
    // let writer = document.querySelector('#user_is_authenticated').dataset.username;
    let eachrow = document.createElement('div');
    eachrow.className = 'eachrow';
    eachrow.setAttribute('data-id', comment.id);
    eachrow.innerHTML = `
        <div>
            <a href='/${comment.user.username}'>
                <div class="small-profilepic"><img src="${comment.user.avatar}" alt="" style="width: 2.1vw;
                height: 2.1vw;
                border-radius: 9999px;
                overflow: hidden;
                margin-right: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-sizing: content-box;
                gap: 10px;"></div>
            </a>
        </div>
        <div style="flex: 1;">
            <div class="comment-text-div">
                <div class="comment-user">
                    <a href="/${comment.user.name}">
                        ${comment.user.name} 
                    </a>
                </div>
                ${comment.body}|urlize
            </div>
        </div>`;
    if (new_comment) {
      eachrow.classList.add('godown');
      let comments = container.innerHTML;
      container.prepend(eachrow);
    }
    else {
      container.append(eachrow);
    }
  }

</script>







<!-- Update Post Script -->
<script>
  $(document).on('click', '.update-post-button', function (e) {
    e.preventDefault();
    var post_id = $(this).data('id');
    $.ajax({
      url: '/get-post/' + post_id + '/',
      type: 'GET',
      success: function (data) {
        $('#updatePostId').val(data.id);
        $('#updatePostTitle').val(data.title);
        $('#updatePostContent').val(data.content);

        if (data.image) {
          $('#imagePreview').attr('src', data.image).show();
          $('#videoPreview').hide();
          $('.icon-placeholder').hide();
          $('#removeMedia').show();
        } else if (data.video) {
          $('#videoSource').attr('src', data.video);
          $('#videoPreview').show();
          $('#imagePreview').hide();
          $('.icon-placeholder').hide();
          $('#removeMedia').show();
        } else {
          $('#imagePreview').hide();
          $('#videoPreview').hide();
          $('.icon-placeholder').show();
          $('#removeMedia').hide();
        }

        $('#updatePostModal').show();
      }
    });
  });

  $('#mediaPreviewContainer').on('click', function () {
    $('#updatePostMedia').click();
  });

  $('#updatePostMedia').on('change', function () {
    var file = this.files[0];
    var fileType = file.type.split('/')[0];

    if (fileType === 'image') {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#imagePreview').attr('src', e.target.result).show();
        $('#videoPreview').hide();
        $('.icon-placeholder').hide();
        $('#removeMedia').show();
      };
      reader.readAsDataURL(file);
    } else if (fileType === 'video') {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#videoSource').attr('src', e.target.result);
        $('#videoPreview').show();
        $('#imagePreview').hide();
        $('.icon-placeholder').hide();
        $('#removeMedia').show();
      };
      reader.readAsDataURL(file);
    }
  });

  $('#removeMedia').on('click', function (e) {
    e.stopPropagation();
    $('#imagePreview').hide().attr('src', '#');
    $('#videoPreview').hide().attr('src', '#');
    $('.icon-placeholder').show();
    $('#removeMedia').hide();
    $('#updatePostMedia').val('');
  });

  $('.close').on('click', function () {
    $('#updatePostModal').hide();
  });

  $('#savePostChanges').on('click', function () {
    var postId = $('#updatePostId').val();
    var postTitle = $('#updatePostTitle').val();
    var postContent = $('#updatePostContent').val();
    var postMedia = $('#updatePostMedia')[0].files[0];

    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('title', postTitle);
    formData.append('content', postContent);
    if (postMedia) {
      formData.append('media', postMedia);
    }

    $.ajax({
      url: '/update-post/' + postId + '/',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        $('#updatePostModal').hide();
        alert('Post updated successfully!');
        location.reload();
      }
    });
  });

</script>

<!-- Like Post Script -->
<script>
  $(document).on('click', '.like-button', function (e) {
    e.preventDefault();
    var post_id = $(this).data('id');
    var $button = $(this);

    $.ajax({
      url: "{% url 'like-post' 0 %}".replace(0, post_id),
      method: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success: function (data) {
        if (data.liked) {
          $button.find('svg').addClass('liked');
        } else {
          $button.find('svg').removeClass('liked');
        }
        $button.find('.like-count').text(data.like_count);
      }
    });
  });
</script>

<!-- Delete Post Script -->
<script>
  function confirmDelete(event, postId) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this post?")) {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = `/delete-post/${postId}/`;

      var csrfToken = document.createElement('input');
      csrfToken.type = 'hidden';
      csrfToken.name = 'csrfmiddlewaretoken';
      csrfToken.value = '{{ csrf_token }}';

      form.appendChild(csrfToken);
      document.body.appendChild(form);

      form.submit();
    }
  }
</script>

<!-- Delete Room Script -->
<script>
  function confirmDeleteRoom(event, roomId) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this room?")) {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = `/delete-room/${roomId}/`;

      var csrfToken = document.createElement('input');
      csrfToken.type = 'hidden';
      csrfToken.name = 'csrfmiddlewaretoken';
      csrfToken.value = '{{ csrf_token }}';

      form.appendChild(csrfToken);
      document.body.appendChild(form);

      form.submit();
    }
  }
</script>


<script>
  // Function to show full content
  function showFullContent(postId) {
    document.getElementById('short-content-' + postId).style.display = 'none';
    document.getElementById('full-content-' + postId).style.display = 'block';
  }

  // Function to show short content
  function showShortContent(postId) {
    document.getElementById('short-content-' + postId).style.display = 'block';
    document.getElementById('full-content-' + postId).style.display = 'none';
  }
</script>



<!-- share post -->


<script>// Mở modal khi nhấn nút share
  $(document).on('click', '.share-post-button', function (e) {
    e.preventDefault();
    var post_id = $(this).data('id');
    $('#sharePostId').val(post_id);
    $('#sharePostModal').show();
  });

  // Đóng modal khi nhấn nút close
  $(document).on('click', '.close', function () {
    $('#sharePostModal').hide();
  });

  // Đóng modal khi nhấn ngoài modal-content
  $(window).on('click', function (e) {
    if ($(e.target).is('#sharePostModal')) {
      $('#sharePostModal').hide();
    }
  });

  // Xác nhận chia sẻ bài post
  $('#confirmShare').on('click', function () {
    var postId = $('#sharePostId').val();

    $.ajax({
      url: '/share-post/' + postId + '/',
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'content': $('#shareContent').val(),
      },
      success: function (response) {
        $('#sharePostModal').hide();
        alert('Post shared successfully!');
        location.reload();
      }
    });
  });
</script>


<!-- end Share -->




<!-- Delete share  -->


<script>
  function confirmDeleteShare(event, shareId) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this share?")) {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = `/delete-share/${shareId}/`;

      var csrfToken = document.createElement('input');
      csrfToken.type = 'hidden';
      csrfToken.name = 'csrfmiddlewaretoken';
      csrfToken.value = '{{ csrf_token }}';  // Use the CSRF token provided by Django

      form.appendChild(csrfToken);
      document.body.appendChild(form);

      form.submit();  // Submit the form to delete the share
    }
  }

  // Event listener for delete share buttons
  $(document).on('click', '.delete-share-button', function (e) {
    var shareId = $(this).data('id');
    confirmDeleteShare(e, shareId);  // Call the confirm delete function
  });
</script>



<!-- end Scripts -->