{%extends 'main.html'%}
{%load static%}
{% block content%}
<!-- Activity -->
<div class="row newsfeed-right-side-content mt-3">
  {% include 'base/topics_compo.html'%}



  <div class="col-md-6 second-section" id="page-content-wrapper">


    <div class="mb-3" style="margin-left: 15px;">
      <div class="btn-group d-flex" >
        <a href="{%url 'create-room'%}" class="btn btn-quick-links mr-3 ql-active" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
          </svg>
          <span class="fs-8">Create New Room</span>
        </a>

      </div>
    </div>







    <!-- Posts -->
    {%include 'base/feed.html'%}


  </div>
  {% include 'base/activity.html'%}

  <!-- LIST Friend -->



</div>




{%endblock%}