{%extends 'main.html'%}
{%load static%}
{% block content%}
<!-- Activity -->
<div class="row newsfeed-right-side-content mt-3">
  {% include 'base/topics_compo.html'%}



  <div class="col-md-6 second-section" id="page-content-wrapper">


    <div class="mb-3" style="margin-left: 15px;">
      <div class="btn-group d-flex" >
        <a href="{%url 'create-room'%}" class="btn btn-quick-links mr-3 ql-active" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
          </svg>
          <span class="fs-8">Create New Room</span>
        </a>


        <a href="" class="btn btn-quick-links mr-3 ql-active" data-toggle="modal" data-target="#createPostModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-post" viewBox="0 0 16 16">
            <path d="M4 3.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
          </svg>
          <span class="fs-8">Create Post</span>
        </a>

      </div>

      
    </div>







    <!-- Posts -->
    {%include 'base/feed.html'%}


  </div>
  {% include 'base/activity.html'%}

  <!-- LIST Friend -->



</div>




{%endblock%}