  

<div class="bg-white py-3 px-4 shadow-sm">
  <div class="card-head d-flex justify-content-between">
      <h5 class="mb-4">Latest Active Friends</h5>
      <a href="#" class="btn btn-link">See All</a>
  </div>
  <div class="row">
    {% for room in chat_rooms %}
    {% for f in room.members.all %}
    {% if f != user %}
      <div class="col-md-4 col-sm-6">
          <div class="card group-card shadow-sm">
              <img src="{{ f.avatar.url }}" class="card-img-top group-card-image" alt="Group image" height="190px" >
              <div class="card-body">
                  <h5 class="card-title">{{f.name}}</h5>
                  <p class="card-text">10k Members 20+ post a week</p>
                  <div class="btn-group w-100" role="group">
                      <a href=" {% url 'profile' f.id %}" class="btn btn-quick-link join-group-btn border w-100">Profile</a>
                      <div class="btn-group" role="group">
                          <button id="friendsMore" type="button" class="btn btn-quick-link join-group-btn border btn-group-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class='bx bx-dots-horizontal-rounded'></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="friendsMore">
                              <a class="dropdown-item" href="{% url 'open_chat' room.id %}">Messgaes</a>
                              <a class="dropdown-item" href="{% url 'reject' f.id%}">Remove</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
    {% endfor %}
    {% endfor %}
  
  </div>
</div>