<style>
  .sidebar {
    width: 320px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .search input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
  border-radius: 5px;
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn chỉnh các items theo trục dọc giữa */
  text-decoration: none; /* Loại bỏ gạch chân của liên kết */
  color: inherit; /* Kế thừa màu chữ từ phần tử cha */
  padding: 10px; /* Thêm một chút đệm */
}
.menu-item-t {
  border-radius: 5px;
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn chỉnh các items theo trục dọc giữa */
  text-decoration: none; /* Loại bỏ gạch chân của liên kết */
  color: inherit; /* Kế thừa màu chữ từ phần tử cha */
  padding: 10px; /* Thêm một chút đệm */
}


.avatar {
  margin-right: 10px; /* Thêm khoảng cách giữa avatar và tên */
}

.avatar img {
  display: block;
  width: 40px; /* Đặt chiều rộng cho avatar */
  height: 40px; /* Đặt chiều cao cho avatar */
  border-radius: 50%; /* Làm cho avatar trở nên tròn */
}
  
  .menu-item.active,
  .menu-item:hover {
    background-color: #505050;
  }
  .menu-item-t.active,
  .menu-item-t:hover {
    background-color: #505050;
  }
  
  .btn-new-event {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0b79f7;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-new-event:hover {
    background-color: #0966d2;
  }
  
  .suggested-events {
    margin-top: 20px;
  }
  .scrollable-container {
    overflow-y: scroll;
    height: 110vh;
    scrollbar-width: none;
    /* For Firefox */
  }

  .scrollable-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }
</style>

<div class="activities__content" id="friendList" style="display: none;">
  
  {% for room in chat_rooms %}
      {%for f in room.members.all%}
      {% if f != user %}
      <a href="{%url 'open_chat' room.id%}" class="menu-item " style="color : #001e1d">
        <div class="avatar avatar--small">
          <img src="{{f.avatar.url}}" alt=""/>
        </div>
        {{f.username}}</a>
      
      {%endif%}
      {%endfor%}
      {%endfor%}




 
<a class="btn btn--link" href="{%url 'myfriend'%}" style="float: right;">
  More
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <title>chevron-down</title>
    <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
  </svg>
</a>
</div>

    
