{% extends 'main.html' %}

{% block content %}
<style>
  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type=password], input[type=text] {
    padding-right: 30px; /* Make space for the icon */
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .scrollable-container {
    overflow-y: scroll;
    height: 80vh;
    scrollbar-width: none; /* For Firefox */
  }

  .scrollable-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .form-outline {
    margin-bottom: 1.5rem;
  }

  .form-outline label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .form-outline input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .form-outline .form-control-lg {
    font-size: 1.25rem;
    padding: 0.75rem;
  }

  .btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }

  .card {
    max-width: 900px;
    margin: 0 auto;
  }
</style>

<main class="auth layout">
  <section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  {% if page == 'login' %}
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <svg xmlns="http://www.w3.org/2000/svg" style="color: #ff6219;" width="36" height="36" fill="currentColor" class="bi bi-activity me-3" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
                      </svg>
                      <span class="h1 fw-bold mb-0">Health Care</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                    <div class="form-outline mb-4">
                      <input id="username" name="username" type="text" placeholder="e.g. dennis_ivy@email.com" class="form-control form-control-lg" />
                     
                    </div>

                    <div class="form-outline mb-4 password-input-container">
                      <input id="password" name="password" type="password" placeholder="••••••••" class="form-control form-control-lg" />
                      <span class="toggle-password" onclick="togglePasswordVisibility()">👁</span>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>

                    <a class="small text-muted" href="{% url 'password_reset_request' %}">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'sign' %}" style="color: #393f81;">Register here</a></p>


                    
                  </form>
                  {% else %}
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <svg xmlns="http://www.w3.org/2000/svg" style="color: #ff6219;" width="36" height="36" fill="currentColor" class="bi bi-activity me-3" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
                      </svg>
                      <span class="h1 fw-bold mb-0">Health Care</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register your account</h5>

                    {% for field in form %}
                    <div class="form-outline mb-4">
                      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                    </div>
                    {% endfor %}

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>

                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already signed up? <a href="{% url 'login' %}" style="color: #393f81;">Sign In</a></p>
                    
                  </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    var passwordType = passwordInput.type === 'password' ? 'text' : 'password';
    passwordInput.type = passwordType;
  }
</script>
{% endblock content %}