<style>
      .scrollable-container {
    overflow-y: scroll;
    height: 10vh;
    scrollbar-width: none;
  }

  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
</style>

    <div  class="py-2 px-0 col-md-9 container" style="height: 88vh;  margin-right: 0 !important;">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                        href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp">
                        <img style="max-width: 100%; height: 50vh; margin: auto;" class="rounded-4 fit"
                            src="{{product.image.url}}" />
                    </a>
                </div>

                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{product.name}}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{ total_quantity }} orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">${{product.price}}</span>
                        <span class="text-muted">/per box</span>
                    </div>

                    
                    <p id="short-description-{{ product.id }}">
                        {{ product.description|truncatewords:50|linebreaksbr }}...
                        <a href="javascript:void(0);" onclick="showFullDescription('{{ product.id }}')">See more</a>
                    </p>
    
                    <!-- Full description, initially hidden -->
                    <p id="full-description-{{ product.id }}" style="display: none;">
                        {{ product.description|linebreaksbr }}
                        <a href="javascript:void(0);" onclick="showShortDescription('{{ product.id }}')">See less</a>
                    </p>




                    <hr />

                    {% if product.quantity > 0 %}
                    <div class="row mb-4">
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <form action="{% url 'add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3" style="width: 170px;">
                                    
                                    <input type="number" name="quantity"
                                        class="form-control text-center border border-secondary" id="quantity" value="1"
                                        min="1" max="100" aria-label="Quantity" aria-describedby="button-addon1">
                                   
                                </div>
                                <button type="submit" class="btn btn-primary shadow-0"> <i
                                        class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <button type="submit" class="btn btn-secondary shadow-0" disabled>Sold Out</button>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>

<!-- content -->



<!-- Footer -->
<script>
    // Function to show full description
    function showFullDescription(productId) {
        document.getElementById('short-description-' + productId).style.display = 'none';
        document.getElementById('full-description-' + productId).style.display = 'block';
    }

    // Function to show truncated description
    function showShortDescription(productId) {
        document.getElementById('short-description-' + productId).style.display = 'block';
        document.getElementById('full-description-' + productId).style.display = 'none';
    }
</script>
