<style>


    .product-details {
        height: 85vh;
        width: 1000px;
        /* margin: 20px auto; */
        background-color: #3f4156;
        display: flex;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #b2bdbd;
    
    }
    
    .product-image {
        flex: 1;
        padding: 20px;
    }
    
    .product-image img {
        max-width: 250px;
        height: 250px;
    }
    
    .product-info {
        flex: 1;
        padding: 20px;
        
    }
    
    .product-info h1 {
        font-size: 24px;
        margin: 0;
    }
    
    .product-info p {
        margin: 10px 0;
    }
    .product-info input {
        display: block; /* Hiển thị số lượng dọc xuống */
        margin: 10px; /* Khoảng cách phía trên */
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    

</style>

<div class="room__top">
    <div class="room__topLeft">
      <a href="{% url 'shop' %}">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>arrow-left</title>
          <path
            d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
          </path>
        </svg>
      </a>
      <h3>Product Detail</h3>
    </div>
</div>
    <div class="product-details">
       
        <div class="product-image">
            <img src="{{product.image.url}}" alt="Sản phẩm">
        </div>
        <div class="product-info">
            <h1>{{product.name}}</h1>
            <p>Giá: ${{product.price}}</p>
            <p>{{product.description}}</p>
            {%if product.quantity > 0 %}
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1" max="100">
                <button type="submit">Add to Cart</button>
            </form>
            {%else%}
            <button type="submit" disabled>SoldOut</button>
            {%endif%}
    </div>