{% extends 'main.html' %}

{% block content %}
<style>
  /* Thêm một số kiểu để áp dụng hiệu ứng zoom */
  .zoomable {
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .zoomable.zoomed {
    transform: scale(2);
    /* Điều chỉnh giá trị scale tùy thuộc vào mức độ zoom mong muốn */
  }
</style>
<main class="profile-page layout layout--3">

  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_compo.html'%}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="image-container">
            <div class="avatar avatar--large active zoomable" id="avatar-image">
              <img src="{{ user.avatar.url }}" alt="Profile Image">
            </div>
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          {% if request.user == user %}
          <a href="{% url 'update_avatar' %}" class="btn btn--main btn--pill">Avatar</a>
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% elif friendship %}
          {% if friendship.status == 'pending' %}
          {% if friendship.sender == request.user %}
          <a href="{%url 'reject' user.id%}" class="btn btn--main btn--pill">Cancel Request</a>
          {% else %}
          <a href="{%url 'accept' user.id%}" class="btn btn--main btn--pill">Accept</a>
          <a href="{%url 'reject' user.id%}" class="btn btn--main btn--pill">Reject</a>
          {% endif %}
          {% elif friendship.status == 'accepted' %}
          <a href="{%url 'reject' user.id%}" class="btn btn--main btn--pill">Remove</a>
          <a href=" {%url 'open_chat' user.id%}" class="btn btn--main btn--pill">Chat</a>
          {% elif friendship.status == 'rejected' %}
          <a href="{% url 'addFriend' user.id %}" class="btn btn--main btn--pill">Add Friend</a>
          {% endif %}
          {% else %}
          <a href="{% url 'addFriend' user.id %}" class="btn btn--main btn--pill">Add Friend</a>
          {% endif %}

        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2></a>
          </h2>
        </div>
      </div>
      {% include 'base/feed.html' %}


    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity.html' %}
    <!-- Activities End -->
  </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var avatarImage = document.getElementById('avatar-image');

    // Khi người dùng nhấp vào hình ảnh
    avatarImage.addEventListener('click', function () {
      avatarImage.classList.toggle('zoomed');
    });

    // Khi người dùng nhấp vào nền để tắt zoom
    document.addEventListener('click', function (event) {
      if (!avatarImage.contains(event.target)) {
        avatarImage.classList.remove('zoomed');
      }
    });
  });
</script>
{% endblock content %}