<!-- report_user.html -->
{% extends 'main.html' %}

{% block content %}
<style>
    .report-container {
    background-color: #abd1c6;
    padding: 20px;
    border-radius: 8px;
    max-width: 370px;
    margin: 0 auto;
    color: #001e1d;
}

.report-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.help-text {
    color: grey;
    font-size: small;
}

.submit-btn {
    background-color: #004643;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0288d1;
}

/* Style the checkboxes if necessary */
.form-group input[type="checkbox"] {
    margin-right: 5px;
}
.report-title{
    text-align: center;
    color: black;
    background-color: #0288d1;
}

/* You can add more styles based on your preference */

</style>
<div class="report-container">
    <div class="room__topLeft">
        <a href="{% url 'home' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>arrow-left</title>
            <path
              d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
            </path>
          </svg>
        </a>
        <h3>Report</h3>
      </div>

    <form method="post" class="report-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn">Submit Report</button>
    </form>
</div>

{% endblock %}
