{%extends 'main.html'%}

{% block content%}
  <style>

  </style>
<div class="container-fluid" id="wrapper">
  <div class="row newsfeed-size">
      <div class="col-md-12 newsfeed-right-side">
          <div class="row newsfeed-right-side-content mt-3">
    {% include 'base/store_action_detail.html'%}
      
    <!-- Topics End -->

    <!-- Room List Start -->
  
        {%include 'base/revenue-compo.html'%}
    <!-- Room List End -->

    <!-- Activities Start -->



    <!-- Activities End -->
  </div>
</div>
</div>




{%endblock%}

{%block scripts%}
{%endblock%}