{% extends 'main.html' %}

{% block content %}
<style>
  input[type="text"]#answer {
    width: 100%; /* Adjust width as necessary */
    padding: 10px; /* Adjust padding as necessary */
    border: 1px solid #0F3460; /* Blue border */
    border-radius: 5px;
    font-size: 16px; /* Adjust font-size as necessary */
    margin-top: 5px; /* Space above the input */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 0 8px;
  }

  input[type="text"]#answer::placeholder {
    color: white; /* Light color for the placeholder text */
  }

  label {
    color: white; /* Label text color */
    display: block; /* Ensure the label is on its own line */
    margin-bottom: 5px; /* Space below the label */
  }
</style>
<section class="vh-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <a href="{{request.META.HTTP_REFERER}}">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        viewBox="0 0 32 32">
                        <title>arrow-left</title>
                        <path
                          d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                        </path>
                      </svg>
                    </a>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Room: {{ room.name }}</h5>
                  <p>Question: {{ room.question }}</p>
                  <div class="form-outline mb-4">
                    <label for="answer">Your answer:</label>
                    <input type="text" id="answer" name="answer" class="form-control form-control-lg" required />
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
