<div class="message-sidepanel">
    <div class="message-contacts">
        <ul class="conversations">
            <h6 class="p-3">General Settings</h6>
            <li class="contact ">
                <a href="{%url 'update-user'%}" class="wrap d-flex align-items-center">
                    <i class='bx bxs-user'></i>
                    <div class="meta">
                        <p>Account</p>
                    </div>
                </a>
            </li>
            
            <h6 class="p-3">Security &#38; Login</h6>
            <li class="contact">
                <a href="{%url 'change_password'%}" class="wrap d-flex align-items-center">
                    <i class='bx bxs-lock'></i>
                    <div class="meta">
                        <p>Password</p>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>
</div>




