{%load static%}
<div class="col-md-2 newsfeed-left-side sticky-top shadow-sm" id="sidebar-wrapper">
    <div class="card newsfeed-user-card h-100">
        <ul class="list-group list-group-flush newsfeed-left-sidebar" id="marketplace-parameters">
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <h6>Marketplace</h6>
                <a href="{% url 'create_store'%}" class="btn btn-sm btn-quick-link join-group-btn btn-rounded">
                    <i class="bx bx-plus"></i>
                </a>
            </li>
            <form action="{%url 'shop'%}" method="GET">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                
                <div class="input-group messenger-input w-100 align-items-center pr-2">
                    <input type="text" class="form-control search-input" name="q" placeholder="Search Products"
                        aria-label="Type a message..." aria-describedby="button-addon2">

                            <div class="input-group-append"  >
                                <button class="btn-btn search-button" type="submit"><i class="bx bx-search"></i></button>
                            </div>

                    </div>
            </li>
        </form>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'shop'%}" class="sidebar-item"><i class='bx bxs-store'></i> Store</a>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'cart_detail'%}" class="sidebar-item"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg> Cart</a> 
                    <span class="badge badge-primary badge-pill">{{ total_quantity }}</span></p>
            </li>


            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'order_history'%}" class="sidebar-item"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                        <path
                            d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                        <path
                            d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z" />
                    </svg> Order History</a>
            </li>

            <li class="list-group-item border-top">
                <h6>YOUR STORE</h6>
            </li>
            {%for s in stores%}
            <li class="list-group-item d-flex justify-content-between align-items-center sidebar-item-icon">
                <a href="{%url 'store_detail' s.id%}" class="sidebar-item"><i class='bx bxs-store'></i> {{s.name}}</a>
            </li>
            {%endfor%}

            <li class="list-group-item d-flex justify-content-between align-items-center sidebar-item-icon">
                <a href="groups.html" class="sidebar-item"><i class='bx bx-dots-horizontal-rounded'></i> More</a>
            </li>
        </ul>
    </div>
</div>